body{
    background-color: rgb(255, 253, 250);
}

.container{
    margin-top: 50px;
   
}
canvas{
    width: 400px;
    visibility: hidden;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

select{
    border-radius: 2px;
    border: 1px solid rgb(202, 198, 198);
    border-left: none;
    padding:0 2px;
}

select option{
    border-radius: 5px;
    padding: 2px;
}

select:focus{
    outline: 0;
}

.col-lg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.inch{
    display: none;
}

.tracker{
    width: 100%;
}

.tracker h2{
    background-color: rgb(7, 197, 197);
}

.btn-delete{
    cursor: pointer;
    color: red;
}

#extra{
    display: none;
}